In [19]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print (df)

        one       two     three
a  1.955007 -0.026824  0.261554
b       NaN       NaN       NaN
c -0.032066  0.357273  0.989584
d       NaN       NaN       NaN
e -0.880696  1.044505 -0.612229
f  1.796906  0.764511 -0.083907
g       NaN       NaN       NaN
h -0.860797 -0.208714  1.610064

In [10]:
#print df['one'].isnull() Просмотр определенного столбца на 
#наличие пустых значений
#Просмотр даты фрейма на наличие пыстых значений. 
# Функция isnull(), notnull() используется для типов данных series, dataframe
print (df.notnull())

     one    two  three
a   True   True   True
b  False  False  False
c   True   True   True
d  False  False  False
e   True   True   True
f   True   True   True
g  False  False  False
h   True   True   True

In [8]:
#Замена значений типа NaN на 0 с помощью функции fillna
print ("NaN replaced with '0':")
print (df.fillna(0))

NaN replaced with '0':
        one       two     three
a  0.317808  1.941711  0.335873
b  0.000000  0.000000  0.000000
c -0.439296 -1.235066  1.416863
d  0.000000  0.000000  0.000000
e  1.349221 -1.004065  0.869022
f -0.286729 -1.401631  0.164504
g  0.000000  0.000000  0.000000
h  0.217265 -0.830418 -1.603760

In [13]:
#Метод заполнения вперед pad, 
# меод заполнения назад bfill
print (df.fillna(method='bfill'))

        one       two     three
a  0.739038 -1.167652 -0.224827
b -1.331403  0.400616  0.753719
c -1.331403  0.400616  0.753719
d  0.891557 -1.036377  1.919187
e  0.891557 -1.036377  1.919187
f -1.872701 -0.427934  1.095821
g -1.455638 -0.064246 -0.421987
h -1.455638 -0.064246 -0.421987

In [16]:
#Исключение недостающих значений используя метод dropna вместе
#с аргументом значения оси (по умолчанию 0)
print (df.dropna())

        one       two     three
a  3.195328  1.325462 -0.434589
c  0.102191 -2.125102 -0.867008
e -2.023110  0.265266 -0.031647
f -0.600134 -2.387833  0.152504
h  0.744413 -0.495740  0.915330

In [17]:
df1 = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})
#print df1.replace({1000:10,2000:60})
print (df1)

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

In [18]:
print (df1.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [20]:
print (df.describe ())

            one       two     three
count  5.000000  5.000000  5.000000
mean   0.395671  0.386150  0.433013
std    1.395150  0.524841  0.878117
min   -0.880696 -0.208714 -0.612229
25%   -0.860797 -0.026824 -0.083907
50%   -0.032066  0.357273  0.261554
75%    1.796906  0.764511  0.989584
max    1.955007  1.044505  1.610064